{% extends "base.html" %} {% block title%}Home{% endblock %}
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homepage.css') }}">
<head>
    <link rel="stylesheet" href="/website/static/homepage.css">
</head> -->
{% block content%}

<div style="text-align:center; width:100vw;" class="wrapper">
    <div class="header" style="padding:15px;" >
        <div class="big-text">
            <h1>NUMBERS<br><span>DON'T</span><br>LIE</h1>
        </div>
    </div>
    <div class="home-page-content" style="display:inline-flex;">
        <div class="ff-img-container">
            <img src="{{ url_for('static', filename='ff-home.png')}}" alt="" id="ff-img">
        </div>
        <div class="text-container">
            <p>The premier resource to help you draft your super bowl winning team.</p>
        </div>
    </div>
    <div class="btn-container">
        <h1>Draft the Most Promising Players for 2023</h1>
        <button class="btn btn-primary" id="rankings-btn">View Guide</button>
    </div>
</div>
{% endblock content%}
