{% extends "base.html" %}{%block title%}Injury Report{%endblock%}

{% block content%}
<div class="list-container">
    <h1 align="center">Injury Report</h1>
    <div class="list">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Pos</th>
                    <th>Injuries</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
            {% if not injuries %}
            <tr class="default-row">
                <td class="default-data">No injuries this week :)</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% else %}
            {% for injury in injuries %}
                <tr>
                    <td>{{ injury.name }}</td>
                    <td>{{ injury.pos }}</td>
                    <td>{{ injury.injuries }}</td>
                    <td>{{ injury.status }}</td>
                    <td>
                        <button name="del-fav" type="submit" class='close' onClick="deleteFav({{ fav.id }})" value="{{ fav.name }}" ><span aria-hidden="true">&times;</span></button>
                    </td>
                </tr>
            {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content%}